<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher_prts"
		android:label="PRTS Database"
		android:roundIcon="@mipmap/ic_launcher_prts"
		android:supportsRtl="true"
		android:theme="@style/Theme.ArknightDatabase"
		tools:targetApi="31">

		<activity android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".MainMenu" />
		<activity android:name=".Sanity" />
		<activity android:name=".OperatorClasses" />
		<activity android:name=".classes.Vanguard" />
		<activity android:name=".classes.Guard" />
		<activity android:name=".classes.Sniper"/>
		<activity android:name=".classes.Caster"/>
		<activity android:name=".classes.Medic"/>
		<activity android:name=".classes.Defender"/>
		<activity android:name=".classes.Supporter"/>
		<activity android:name=".classes.Specialist"/>
		<activity android:name=".Materials" />
		<activity android:name=".Outfits" />
		<!--outfits will be placed by years-->
		<activity android:name=".Factions" />
		<!--factions will show the companies logo-->
		<!--each company will show the characters in the company and the one they are related to-->
		<activity android:name=".Enemies" />
		<!-- list of all the enemies-->
		<activity android:name=".Recruit" />
		<!--list of all the character that can be recruited-->
		<activity android:name=".Headhunt" />
		<!-- update the banner of the characters and period of duration of the banner-->
		<!-- and the banner of next month after the announcement is made-->

	</application>

</manifest>
